@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family-inter: 'Inter',
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

html,
body {
  font-family: var(--font-family-inter);
  @apply p-0 m-0;
}
.gradients {
  @apply rounded-full blur-[150px] w-[800px] h-[800px] fixed top-0 -z-20;
}

.green_gradient{
  @apply -left-32 blur-[150px] bg-green-gradient;
}
.blue_gradient{
  @apply -right-32 -top-14 blur-[150px] bg-blue-gradient;
}

a {
  @apply no-underline text-inherit;
}

* {
  @apply box-border;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    @apply bg-gray-900 text-white;
  }

}
